/* You can add global styles to this file, and also import other style files */

.tab-panel {
    color: yellow;
    border: 1px solid yellow;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid greenyellow;
    color: black;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: black !important;
    color: yellow;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: yellow;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
      color: yellow;
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid wheat;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: yellow;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: gold;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: black;
    border: 0;
    border-top: 1px solid white;
    padding: 15px 0;
  }
  
