<!--<h1 *ngIf="member">member.knownAs</h1>  removed -->  
<div class="row" >    <!-- *ngIf="member" removed -->

    <div class="col-4">
    <div class="card">
            <img src="{{member.photoUrl || './assets/user.png' }}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">         <!-- || used here as an alternative so users can upload profile/photo later on-->
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.userName)">
                    <i class="fa fa-user-circle text-success"></i> Online Now
                </div>
                <div><strong>Location:</strong><p>{{member.city}},{{member.country}}</p></div>
                <div><strong>Age:</strong><p>{{member.age}}</p></div>
                <div><strong>Last Active:</strong><p>{{member.lastActive | timeago}}</p></div>
                <div><strong>Member Since:</strong><p>{{member.created | date: 'dd MMM yyyy'}}</p></div>
                </div>

                <div class="card-footer"></div>
                <div class="btn-group d-flex"></div>            <!-- here we use the css flex box system-->
                <button class="btn btn-primary">Like</button>
                <button (click)="selectTab(3)" class="btn btn-success">Message</button>   <!-- identifies 3rd tab to provide click event -->

        </div>
    </div>
    <div class="col-8">

        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                <h4>Description</h4><p>{{member.introduction}}</p><h4>Looking for</h4><p>{{member.lookingFor}}</p></tab>
            <tab heading='Interests' (selectTab)="onTabActivated($event)"><h4>Interests</h4><p>{{member.interests}}</tab>
            <tab heading='Photos' (selectTab)="onTabActivated($event)"><ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery></tab> <!--added once we have coded member-detail.component.ts-->
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                
           <!-- <app-member-messages [messages]="messages" [username]="member.userName"> </app-member-messages>   we can remove this as we are now able to directly access messages within app-member-messages-->   
            <app-member-messages [username]="member.userName"> </app-member-messages>    
            </tab>
        </tabset>
    </div>
</div>
