<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">

    <div class="container">
    <a class="navbar-brand" routerLink="/">Dating Application</a>                             <!-- routerLink added for href: takes us to our home component -->


      <ul class="navbar-nav mr-auto"  >        <!-- // removed "loggedIn" will display our conditional NavBar components if logged in  -->  <!-- removed: *ngIf = "accountService.currentUser$ | async" -->

        <ng-container  *ngIf = "accountService.currentUser$ | async" >     <!-- added: ng-container, does not interfere with any html and does not interfere with any styling especially when using conditionals is generated as a comment instead -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
          <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
        </ng-container>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>         <!-- link required after test-errors.component.ts + html + app-routing.module.ts route -->
        </li>


      </ul>                                                                                                                  <!-- () brackets means from template to component  [] brackets receiving from component [()] is two way binding // banana in a box-->

     

<div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>                           <!-- angular bootstrap will be required for implementation here // dropdown added  // added: () as user-->
  <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">       <!-- after we implement main photo in the API: user given property photoUrl and alternate of username:  // added default || or conditional for user photo if none exists-->
  <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{ user.knownAs || user.username | titlecase }}</a> <!-- structural directive dropdownToggle added here // added interpolation {{user.username}} // changed  user.username to user.knownAs || added for admin name-->
<div class="dropdown-menu mt-4" *dropdownMenu>                       <!-- structural directive dropdown menu added here -->

  <!--<a class="dropdown-item">Edit Profile</a>  addeed when we created edit profile component to finish the link--> 
        <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
    <div class="dropdown-divider"> </div>                          <!-- added -->

    <a class="dropdown-item" (click)="logout()">Logout</a> 
</div>
</div>
                                                                                                                                                                     <!--=== check to see if not equal to null-->
                                                                                                                                                                                                                    <!-- a-ngIf directly removes the form for us if user not logged in -->
      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomlete="off">  <!-- we have not conferted this form to an angular form -->
        <input                                                                                                          
        name="username"
        [(ngModel)]="model.username"                                                                                                                                                                  
        class="form-control mr-sm-2" 
        type="text" 
        placeholder="Username" >

        <input 
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2" 
        type="password" 
        placeholder="Password" >
        <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>                                               <!-- means whenever we hit "submit" login() function will be called -->
      </form>
    </div>

    
    
  </nav>
